<a href="https://drive.google.com/file/d/18wDeN-hh3NiYN-iXa7nJmyEv2naH8AFX/view?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment - 1**

This assignment includes range of programming tasks and data analysis exercises, aiming to enhance your Python skills and proficiency in string manipulation, numerical computations, and data science. Follow the instructions carefully and design well-structured Python programs to address each question.


1.  Question 1-5 using AI assistance is strictly prohibted
2.  Question 6-7 AI assitance is recommended by following guidelines.

Guidelines and expectations file can be found in week 2 module.

Late Submission will have a penalty of 10% reduction for each day after the deadline.

# Question 1 (10 points).

The formula that describes the volume V of a hemisphere with radius r is the following:

$ V=\frac{2}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of even numbers from 1-20. Output the result in the following format:

	r	V
	2	…
	4	…
	6	…
	.
	.
	.
	20	…

In [9]:
# declaring the range of even numbers from 1-20
r = [2,4,6,8,10,12,14,16,18,20]
pi = 3.141592653589793

# using for loop
for x in r:
  V = (2/3) * pi * x**3
  print(x, V)

2 16.755160819145562
4 134.0412865531645
6 452.38934211693015
8 1072.330292425316
10 2094.3951023931954
12 3619.114736935441
14 5747.0201609669275
16 8578.642339402528
18 12214.512237157114
20 16755.160819145563

# Question 2 (10 points)

(a) Write a Python program to generate a sequence of 12 random numbers falling within the range of 50 to 150.

(b) Arrange the generated numbers in ascending order. Display the sorted list.

(c) Extend the program to arrange the numbers in descending order as well. Present the sorted list accordingly.

(d) Compute and output the average of the entire group of generated numbers.

(e) Enhance the program to calculate and display the average of the first 6 numbers from both the ascending and descending sorted lists.

In [10]:
import random

# generating a sequence of 12 random numbers from the range 50 to 150
# use a different variable
num_range = range(50, 151)

#random function using sample
random_numbers = [random.randint(50, 150) for _ in range(12)]

# printing the generated list of random numbers
print(random_numbers)

[89, 92, 62, 94, 139, 60, 86, 60, 102, 59, 129, 145]

In [11]:
# sorting the numbers in ascending order
asc_order = sorted(random_numbers)
print('Ascending Order:', asc_order)

Ascending Order: [59, 60, 60, 62, 86, 89, 92, 94, 102, 129, 139, 145]

In [12]:
# sorting the numbers in descending order

des_order = sorted(random_numbers, reverse=True)
print('Descending Order:', des_order)

Descending Order: [145, 139, 129, 102, 94, 92, 89, 86, 62, 60, 60, 59]

In [18]:
# to find out the average of the entire group of generated numbers

average = int(sum(random_numbers)/len(random_numbers))
print('Random number:', random_numbers)
print('Average number:', average)

Random number: [89, 92, 62, 94, 139, 60, 86, 60, 102, 59, 129, 145]
Average number: 93

In [22]:
# displaying the average of the first 6 numbers from both the ascending and descending sorted lists


# slicing to find average of the first 6 numbers from ascending and descending order

average_asc = asc_order[:6]
average_des = asc_order[:6]

# finding average of both ascending and descending

average_asc_sum = sum(average_asc)/6
average_des_sum = sum(average_des)/6


print('Ascending order:', asc_order)
print('Descending Order:', des_order)
print('Average ascending number:', average_asc_sum)
print('Average descending number:', average_des_sum)

Ascending order: [59, 60, 60, 62, 86, 89, 92, 94, 102, 129, 139, 145]
Descending Order: [145, 139, 129, 102, 94, 92, 89, 86, 62, 60, 60, 59]
Average ascending number: 69.33333333333333
Average descending number: 69.33333333333333

# Question 3 (10 points).

Create a Python program that encompasses various string manipulation task:

(a) Prompt the user to input two sentences.

(b) Transform each sentence into a list, where each element corresponds to a word in the sentence. For example, if the sentences are "Hello, how are you doing today?" and "This is an example sentence for the program!"

The program should output:
['Hello', ',', 'how', 'are', 'you', 'doing', 'today', '?', 'This', 'is', 'an', 'example', 'sentence', 'for', 'the', 'program', '!']

(c) Compare the two sentences. Print out a list of words that occur in both sentences.

(d) Remove any punctuation from the sentence and print the sanitized sentences. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”).

(e) Count the number of vowels in each of the sentences. Print out each vowel and the occurrences  in the each of the two sentences separately, such as:

Sentence1: a:2, e:2, i:0, etc.
Sentence2: a:1, e:2, i:2, etc.

Design a well-structured Python program to execute these tasks efficiently.

In [28]:
# prompting the user to input two sentences

user_input_1 = input('Enter first sentence here: ')
user_input_2 = input('Enter Second sentence here: ')

# transforming each sentence into a list by using split function

first_sentence = user_input_1.split()
second_sentence = user_input_2.split()

print('First sentence:', first_sentence)
print('Second sentence:', second_sentence)

Enter first sentence here: Hello, how are you doing today?
Enter Second sentence here: Hello, I am good.
First sentence: ['Hello,', 'how', 'are', 'you', 'doing', 'today?']
Second sentence: ['Hello,', 'I', 'am', 'good.']

In [29]:
# comparing the two sentences

similar_word = list(set(first_sentence) & set(second_sentence))
print('Similar word:', similar_word)
similar_word

Similar word: ['Hello,']

['Hello,']

In [32]:
# removing any punctuation from the sentence

import re

# cleaning user input 1 using re module
cleaned_first_sentence = re.sub(r'[^\w\s]', '', user_input_1)
cleaned_second_sentence = re.sub(r'[^\w\s]', '', user_input_2)

# printing cleaned sentences
print('Cleaned first sentence:', cleaned_first_sentence)
print('Cleaned second sentence:', cleaned_second_sentence)

Cleaned first sentence: Hello how are you doing today
Cleaned second sentence: Hello I am good

In [33]:
# counting the number of vowels in each of the sentences

# defining the count_vowels

def count_vowels(sentence):
  vowels = 'aeiouAEIOU'
  count = sum(1 for character in sentence if character in vowels)
  return count

# counting vowels
vowel_count_1 = count_vowels(cleaned_first_sentence)
vowel_count_2 = count_vowels(cleaned_second_sentence)

# printing vowels count
print('The number of vowel in first sentence is:', vowel_count_1)
print('The number of vowel in second sentence is:', vowel_count_2)

The number of vowel in first sentence is: 11
The number of vowel in second sentence is: 6

# Question 4 (10 Points)

Design and implement a simple command-line calculator program. The program should handle both integers and floating-point numbers.

(a) Write program that takes a mathematical expression as input and evaluates it. The program should support addition, subtraction, multiplication, and division.

(b) Extend the calculator to handle parentheses in mathematical expressions. Implement the necessary logic to evaluate expressions with nested parentheses.

(c) Enhance your calculator to include additional mathematical operations such as exponentiation, square root, and modulus.

(d) Implement error handling in the calculator program. Handle cases such as division by zero and invalid input expressions. Provide meaningful error messages.

(e) Implement a command to exit the calculator.

In [35]:
import math

# defining calculate function that takes a mathematical expression as an input
def calculate(expression):
    # error handling
    try:
        # evaluating the mathematical expression
        result = eval(expression)
        return result
    except Exception as e:
        return f"Error: {e}"

# defining main function
def main():
    print("Simple Calculator")
    print("Supported operations: +, -, *, /")

    # using while loop
    while True:
        # taking input from the user
        expression = input("Enter a mathematical expression (or type 'exit' to quit): ")

        # inserting condition when user type exits
        if expression.lower() == 'exit':
            print("Goodbye!")
            break

        # calculating the result and displaying it
        result = calculate(expression)
        print(f"Result: {result}")


if __name__ == "__main__":
    main()

Simple Calculator
Supported operations: +, -, *, /
Enter a mathematical expression (or type 'exit' to quit): 5+4-7
Result: 2
Enter a mathematical expression (or type 'exit' to quit): 9*8
Result: 72
Enter a mathematical expression (or type 'exit' to quit): 7/2
Result: 3.5
Enter a mathematical expression (or type 'exit' to quit): exit
Goodbye!

In [36]:
# defining calculate function that takes a mathematical expression
def calculate(expression):
  # using try except for error handling
    try:
        # replacing 'sqrt' with the math.sqrt function to handle square root
        expression = expression.replace("sqrt", "math.sqrt")

        # evaluating the mathematical expression provided by the user
        result = eval(expression)

        return result
    # when any number divided by zero
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."
    # when user input inavlid expression
    except SyntaxError:
        return "Error: Invalid expression. Please check the syntax."
    # when user enter invalid operator
    except NameError:
        return "Error: Invalid operation or variable used."
    # handling exceptional condition
    except Exception as e:
        return f"Error: {e}"

# defining main function
def main():
    print("Enhanced Calculator")
    print("Supported operations: +, -, *, /, ** (exponentiation), sqrt (square root), % (modulus)")
    while True:
        # taking input from the user
        expression = input("Enter a mathematical expression (or type 'exit' to quit): ")

        if expression.lower() == 'exit':
            print("Goodbye!")
            break

        # calculating the result and displaying it
        result = calculate(expression)
        print(f"Result: {result}")

if __name__ == "__main__":
    main()

Enhanced Calculator
Supported operations: +, -, *, /, ** (exponentiation), sqrt (square root), % (modulus)
Enter a mathematical expression (or type 'exit' to quit): sqrt(25)
Result: 5.0
Enter a mathematical expression (or type 'exit' to quit): 50%2
Result: 0
Enter a mathematical expression (or type 'exit' to quit): 50//2
Result: 25
Enter a mathematical expression (or type 'exit' to quit): exit
Goodbye!

# Question 5 (20 points).

In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files.

To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(a) (5 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(b) (5 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(c) (5 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(d) (5 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [37]:
# import pandas and numpy as data library
import pandas as pd
import numpy as np

# reading the csv file from given link
denton_housing = pd.read_csv('https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv')

# filtering occupied housing units from title_field and fetching values and year
occupied_housing_units = denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'][['year', 'value']]

# sorting value by year
occupied_housing_units = occupied_housing_units.sort_values(by = 'year')

# calculating the difference and shifting data upward by one row
occupied_housing_units['difference'] = occupied_housing_units['value'].shift(-1) - occupied_housing_units['value']

# resetting and dropping index
occupied_housing_units = occupied_housing_units.reset_index(drop = True)

# sorting the difference in ascending order
occupied_housing_unit = occupied_housing_units.sort_values(by = 'difference', ascending = True)
occupied_housing_unit

   year  value  difference
0  2008  36711      -795.0
2  2010  41007      -303.0
3  2011  40704      1404.0
4  2012  42108      1565.0
5  2013  43673      2622.0
1  2009  35916      5091.0
6  2014  46295         NaN

In [38]:
# filtering vacant housing units from title_field and fetching values and year
vacant_housing_units = denton_housing[denton_housing['title_field'] == 'Vacant Housing Units'][['year','value']].rename(columns={'value': 'vacant'})

# sorting value by year
vacant_housing_units = vacant_housing_units.sort_values(by = 'year')

# filtering occupied housing units from title_field and fetching values and year
occupied_housing = denton_housing[denton_housing['title_field'] =='Occupied Housing Units'][['year', 'value']].rename(columns={'value': 'occupied'})

# sorting value by year
occupied_housing = occupied_housing.sort_values(by ='year')

# filtering total housing units from title_field and fetching values and year
total_housing = denton_housing[denton_housing['title_field'] == 'Total Housing Units'][['year','value']].rename(columns={'value': 'total'})

# sorting value by year
total_housing = total_housing.sort_values(by = 'year')

# merging column by merging vacant housing units and occupied housing units
merge_column = total_housing.merge(vacant_housing_units, on = 'year').merge(occupied_housing, on = 'year')

# calculating the percentage of housing units
merge_column['Vacant Housing Units'] = (merge_column['vacant']/merge_column['total'])*100
merge_column['Occupied Housing Units'] = (merge_column['occupied']/merge_column['total'])*100
merge_column[['year','Vacant Housing Units', 'Occupied Housing Units']]

   year  Vacant Housing Units  Occupied Housing Units
0  2008             10.882653               89.117347
1  2009              9.071116               90.928884
2  2010              8.142556               91.857444
3  2011              9.379522               90.620478
4  2012              6.677600               93.322400
5  2013              8.801788               91.198212
6  2014              5.730111               94.269889

In [39]:
# from merge_column, finding the max value for Vacant Housing Units
max_vacant_value =  merge_column[merge_column['Vacant Housing Units'] == merge_column['Vacant Housing Units'].max()]

# from merge_column, finding the max value for Occupied Housing Units
max_occupied_value = merge_column[merge_column['Occupied Housing Units'] == merge_column['Occupied Housing Units'].max()]

# filtering the max_vacant_value by year and vacant , then renaming vacant to value
max_vacant_value = max_vacant_value[['year', 'vacant']].rename(columns ={'vacant':'value'})

# filtering the max_occupied_value by year and occupied , then renaming occupied to value
max_occupied_value = max_occupied_value[['year','occupied']].rename(columns ={'occupied':'value'})

# printing the value using padding and formatting and extracting the value from the column of the first row
print("{:<25} {:<5} {:<5}".format("", "Year", "Value"))
print("{:<25} {:<5} {:.6f}".format("Vacant Housing Units", max_vacant_value.iloc[0]['year'], max_vacant_value.iloc[0]['value']))
print("{:<25} {:<5} {:.6f}".format("Occupied Housing Units", max_occupied_value.iloc[0]['year'], max_occupied_value.iloc[0]['value']))

                          Year  Value
Vacant Housing Units      2008  4483.000000
Occupied Housing Units    2014  46295.000000

In [40]:
import statistics
import pandas as pd

# reading the csv file from given link
denton_housing = pd.read_csv('https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv')

# filtering total housing from title field
total_housing = denton_housing[denton_housing['title_field'] == 'Total Housing Units']

# extracting the total housing units as a list
housing_data = total_housing['value'].tolist()

# calculating harmonic mean
harmonic_mean = statistics.harmonic_mean(housing_data)
print('Harmonic mean of Total Housing Unit is:',harmonic_mean)

Harmonic mean of Total Housing Unit is: 44398.28543969185

# **For question 6 and 7 you can take AI assitance to solve.**

Make sure you follow the instructions given in class to answer these questions.


**Important points:**

1.   You must come up with at least 10 edge cases.
2.   You should provide prompts and revised prompts given to ChatGPT.
2.   Debug your code and write comments for each block of code
3.   Analyzing error will not consider as edge case.

Edge cases are like real life scienarios which are realated to the given question.

# Question 6 (20 points).
Develop a advance Python program to manage inventory records for a prodcut managing company. The system needs functions for adding, deleting and changing products and basic search options. Your system should use CSV files to automate restocking and produce reports that show item values alongside category breakdowns. Manage edge cases and corrupted CSV files. Finally maintaine 50 products of different categories in inventory.

**PROMPT:1** Write a Python program that creates an inventory CSV file.The program should define multiple product categories (Electronics, Clothing, Groceries, Furniture, and Stationery) with a list of sample product names. Each product should have a unique ID, a random quantity (between 5 and 50), and a random price (between $5 and $500). The data should be written to a CSV file named 'inventory.csv' with appropriate headers.

In [41]:
import csv
import random

# Define product categories and sample products
categories = {
    'Electronics': ['Laptop', 'Smartphone', 'Headphones', 'Smartwatch', 'Camera'],
    'Clothing': ['T-shirt', 'Jeans', 'Jacket', 'Shoes', 'Sweater'],
    'Groceries': ['Rice', 'Bread', 'Milk', 'Eggs', 'Apple'],
    'Furniture': ['Sofa', 'Chair', 'Table', 'Bed', 'Bookshelf'],
    'Stationery': ['Pen', 'Notebook', 'Pencil', 'Eraser', 'Highlighter']
}

# Create a list to store product data
inventory = []

# Generate data for each category
product_id = 1
for category, products in categories.items():
    for product in products:
        # Randomly generate quantity and price
        quantity = random.randint(5, 50)
        price = round(random.uniform(5, 500), 2)

        # Add product to inventory list
        inventory.append([product_id, category, product, quantity, price])

        # Increment product ID for next product
        product_id += 1

# Define header for CSV file
header = ['Product ID', 'Category', 'Product Name', 'Quantity', 'Price']

# Write the inventory data to a CSV file with single quotes
with open('inventory.csv', mode='w', newline='') as file:
    writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

    # Write the header
    writer.writerow(header)

    # Write the product data
    writer.writerows(inventory)

print('Inventory CSV file created successfully!')

Inventory CSV file created successfully!

**Prompt:2** Now, write a python code where the system needs to use functions for adding products, check if the product already exists or if there's empty fields.

In [43]:
# Function to display the inventory
def display_inventory(inventory):
    print("Current Inventory:")
    for product in inventory:
        print(f"ID: {product[0]}, Category: {product[1]}, Product Name: {product[2]}, Quantity: {product[3]}, Price: ${product[4]}")

# Function to update the quantity of a product
def update_quantity(product_id, quantity, inventory):
    for product in inventory:
        if product[0] == product_id:
            product[3] = quantity
            print(f"Quantity of product ID {product_id} updated to {quantity}.")
            return
    print(f"Error: Product ID {product_id} not found in inventory.")

# Function to update the price of a product
def update_price(product_id, price, inventory):
    for product in inventory:
        if product[0] == product_id:
            product[4] = price
            print(f"Price of product ID {product_id} updated to ${price}.")
            return
    print(f"Error: Product ID {product_id} not found in inventory.")

# Function to remove a product from the inventory
def remove_product(product_id, inventory):
    for product in inventory:
        if product[0] == product_id:
            inventory.remove(product)
            print(f"Product ID {product_id} removed from inventory.")
            return
    print(f"Error: Product ID {product_id} not found in inventory.")

# Function to write the inventory to a CSV file
def write_inventory_to_csv(inventory, filename='inventory.csv'):
    try:
        with open(filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            writer.writerow(["ID", "Category", "Product Name", "Quantity", "Price"])  # Write header row
            for product in inventory:
                writer.writerow(product)  # Write product data rows
        print(f"Inventory has been successfully written to {filename}.")
    except Exception as e:
        print(f"Error writing to CSV: {e}")


# Example Usage of New Features:

# Display the current inventory
display_inventory(inventory)

# Update the quantity of an existing product
update_quantity(1, 35, inventory)  # Update quantity for product ID 1

# Update the price of an existing product
update_price(2, 349.99, inventory)  # Update price for product ID 2

# Remove a product from the inventory
remove_product(3, inventory)  # Remove product with ID 3

# Display the updated inventory
display_inventory(inventory)

# Write the updated inventory to CSV
write_inventory_to_csv(inventory)

Current Inventory:
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
ID: 6, Category: Clothing, Product Name: T-shirt, Quantity: 33, Price: $298.03
ID: 7, Category: Clothing, Product Name: Jeans, Quantity: 48, Price: $136.29
ID: 8, Category: Clothing, Product Name: Jacket, Quantity: 28, Price: $199.12
ID: 9, Category: Clothing, Product Name: Shoes, Quantity: 23, Price: $279.94
ID: 10, Category: Clothing, Product Name: Sweater, Quantity: 19, Price: $145.63
ID: 11, Category: Groceries, Product Name: Rice, Quantity: 8, Price: $284.96
ID: 12, Category: Groceries, Product Name: Bread, Quantity: 46, Price: $419.4
ID: 13, Category: Groceries, Product Name: Milk, Quantity: 22, Price: $178.69
ID: 14, Category: Groceries, Product Name: Eggs, Quantity: 19, Price: $239.28
ID: 15, Category: Groceries, Product Name: Apple, Quantity: 49, Price: $130.63
ID: 16, Category: Furniture, Product Name: Sofa, Quantity: 23, Price: $5.22
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 14, Price: $114.28
ID: 18, Category: Furniture, Product Name: Table, Quantity: 27, Price: $482.17
ID: 19, Category: Furniture, Product Name: Bed, Quantity: 32, Price: $340.92
ID: 20, Category: Furniture, Product Name: Bookshelf, Quantity: 22, Price: $149.12
ID: 21, Category: Stationery, Product Name: Pen, Quantity: 14, Price: $496.34
ID: 22, Category: Stationery, Product Name: Notebook, Quantity: 37, Price: $144.44
ID: 23, Category: Stationery, Product Name: Pencil, Quantity: 12, Price: $304.91
ID: 24, Category: Stationery, Product Name: Eraser, Quantity: 33, Price: $126.51
ID: 25, Category: Stationery, Product Name: Highlighter, Quantity: 16, Price: $27.73
Quantity of product ID 1 updated to 35.
Price of product ID 2 updated to $349.99.
Error: Product ID 3 not found in inventory.
Current Inventory:
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
ID: 6, Category: Clothing, Product Name: T-shirt, Quantity: 33, Price: $298.03
ID: 7, Category: Clothing, Product Name: Jeans, Quantity: 48, Price: $136.29
ID: 8, Category: Clothing, Product Name: Jacket, Quantity: 28, Price: $199.12
ID: 9, Category: Clothing, Product Name: Shoes, Quantity: 23, Price: $279.94
ID: 10, Category: Clothing, Product Name: Sweater, Quantity: 19, Price: $145.63
ID: 11, Category: Groceries, Product Name: Rice, Quantity: 8, Price: $284.96
ID: 12, Category: Groceries, Product Name: Bread, Quantity: 46, Price: $419.4
ID: 13, Category: Groceries, Product Name: Milk, Quantity: 22, Price: $178.69
ID: 14, Category: Groceries, Product Name: Eggs, Quantity: 19, Price: $239.28
ID: 15, Category: Groceries, Product Name: Apple, Quantity: 49, Price: $130.63
ID: 16, Category: Furniture, Product Name: Sofa, Quantity: 23, Price: $5.22
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 14, Price: $114.28
ID: 18, Category: Furniture, Product Name: Table, Quantity: 27, Price: $482.17
ID: 19, Category: Furniture, Product Name: Bed, Quantity: 32, Price: $340.92
ID: 20, Category: Furniture, Product Name: Bookshelf, Quantity: 22, Price: $149.12
ID: 21, Category: Stationery, Product Name: Pen, Quantity: 14, Price: $496.34
ID: 22, Category: Stationery, Product Name: Notebook, Quantity: 37, Price: $144.44
ID: 23, Category: Stationery, Product Name: Pencil, Quantity: 12, Price: $304.91
ID: 24, Category: Stationery, Product Name: Eraser, Quantity: 33, Price: $126.51
ID: 25, Category: Stationery, Product Name: Highlighter, Quantity: 16, Price: $27.73
Inventory has been successfully written to inventory.csv.

**Prompt:3** Now I want to delete the product that is out of stock and I don't want to restock it in the inventory

In [49]:
deleted_products = ['Jacket']
# Function to generate a report of deleted products
def generate_deleted_report(deleted_products):
    if deleted_products:
        print("\nDeleted Products Report:")
        for product in deleted_products:
            print(f"- {product.capitalize()}")
    else:
        print("\nNo products were deleted.")

# Function to write the updated inventory (after deletion) to CSV
def write_updated_inventory_to_csv(inventory):
    header = ['Product ID', 'Category', 'Product Name', 'Quantity', 'Price']

    with open('inventory.csv', mode='w', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # Write the header
        writer.writerow(header)

        # Write the updated inventory data
        writer.writerows(inventory)

    print("\nUpdated inventory CSV file created successfully!")

# Example Usage:

# Print the deleted products report after deletion
generate_deleted_report(deleted_products)

# Write the updated inventory (after deletion) to CSV
write_updated_inventory_to_csv(inventory)

Deleted Products Report:
- Jacket

Updated inventory CSV file created successfully!

**Prompt 4:(Revised)** I don't want to delete jacket, instead I want to remove shoes.

In [53]:
# Function to generate a detailed report of deleted products
def generate_deleted_products_report(deleted_products):
    if deleted_products:
        print("\nDeleted Products Report:")
        for product in deleted_products:
            print(f"- {product.capitalize()}")
    else:
        print("\nNo products were deleted.")

# Function to restore a deleted product (if it exists in the deleted_products set)
def restore_deleted_product(product_name, inventory, deleted_products, categories):
    if product_name.lower() in deleted_products:
        # Randomly generate missing product details
        category = random.choice(list(categories.keys()))
        product_name_lower = product_name.lower()

        # Restore product using a random product from the same category
        product_data = [product for product in inventory if product[2].lower() == product_name_lower]
        if product_data:
            restored_product = product_data[0]  # Assuming there is exactly one match for the name
            product_id = len(inventory) + 1
            restored_product[0] = product_id  # Assign new Product ID
            inventory.append(restored_product)
            deleted_products.remove(product_name.lower())  # Remove from deleted list
            print(f"Product '{product_name}' restored successfully.")
        else:
            print(f"Error: Product '{product_name}' cannot be restored.")
    else:
        print(f"Error: Product '{product_name}' was not deleted, cannot restore.")

# Function to delete a specific product by name
def delete_specific_product(product_name, inventory, deleted_products):
    """Deletes a specific product from the inventory and adds it to the deleted products list.
    """
    for product in inventory:
        if product[2].lower() == product_name.lower():
            inventory.remove(product)
            deleted_products.append(product_name.lower())  # Add to deleted list
            print(f"Product '{product_name}' deleted successfully.")
            return
    print(f"Error: Product '{product_name}' not found in the inventory.")

# Function to write the updated inventory to a CSV file after deletion or restoration
def write_inventory_to_csv(inventory, file_name='inventory.csv'):
    header = ['Product ID', 'Category', 'Product Name', 'Quantity', 'Price']

    with open(file_name, mode='w', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # Write the header
        writer.writerow(header)

        # Write the updated inventory data
        writer.writerows(inventory)

    print(f"\nUpdated inventory saved to '{file_name}'.")

# Example Usage:

# Print the initial inventory
print("Initial Inventory:")
for product in inventory:
    print(product)

# Call the function to delete a specific product
delete_specific_product('Shoes', inventory, deleted_products)

# Print the updated inventory
print("\nUpdated Inventory after deletion:")
for product in inventory:
    print(product)

# Print deleted products report
generate_deleted_products_report(deleted_products)

# Call the function to restore a deleted product
restore_deleted_product('Jacket', inventory, deleted_products, categories)

# Print the updated inventory after restoration
print("\nUpdated Inventory after restoration:")
for product in inventory:
    print(product)

# Save the updated inventory to CSV
write_inventory_to_csv(inventory)

Initial Inventory:
[1, 'Electronics', 'Laptop', 35, 207.42]
[2, 'Electronics', 'Smartphone', 34, 349.99]
[4, 'Electronics', 'Smartwatch', 21, 82.63]
[5, 'Electronics', 'Camera', 20, 192.81]
[6, 'Clothing', 'T-shirt', 33, 298.03]
[7, 'Clothing', 'Jeans', 48, 136.29]
[8, 'Clothing', 'Jacket', 28, 199.12]
[9, 'Clothing', 'Shoes', 23, 279.94]
[10, 'Clothing', 'Sweater', 19, 145.63]
[11, 'Groceries', 'Rice', 8, 284.96]
[12, 'Groceries', 'Bread', 46, 419.4]
[13, 'Groceries', 'Milk', 22, 178.69]
[14, 'Groceries', 'Eggs', 19, 239.28]
[15, 'Groceries', 'Apple', 49, 130.63]
[16, 'Furniture', 'Sofa', 23, 5.22]
[17, 'Furniture', 'Chair', 14, 114.28]
[18, 'Furniture', 'Table', 27, 482.17]
[19, 'Furniture', 'Bed', 32, 340.92]
[20, 'Furniture', 'Bookshelf', 22, 149.12]
[21, 'Stationery', 'Pen', 14, 496.34]
[22, 'Stationery', 'Notebook', 37, 144.44]
[23, 'Stationery', 'Pencil', 12, 304.91]
[24, 'Stationery', 'Eraser', 33, 126.51]
[25, 'Stationery', 'Highlighter', 16, 27.73]
Product 'Shoes' deleted successfully.

Updated Inventory after deletion:
[1, 'Electronics', 'Laptop', 35, 207.42]
[2, 'Electronics', 'Smartphone', 34, 349.99]
[4, 'Electronics', 'Smartwatch', 21, 82.63]
[5, 'Electronics', 'Camera', 20, 192.81]
[6, 'Clothing', 'T-shirt', 33, 298.03]
[7, 'Clothing', 'Jeans', 48, 136.29]
[8, 'Clothing', 'Jacket', 28, 199.12]
[10, 'Clothing', 'Sweater', 19, 145.63]
[11, 'Groceries', 'Rice', 8, 284.96]
[12, 'Groceries', 'Bread', 46, 419.4]
[13, 'Groceries', 'Milk', 22, 178.69]
[14, 'Groceries', 'Eggs', 19, 239.28]
[15, 'Groceries', 'Apple', 49, 130.63]
[16, 'Furniture', 'Sofa', 23, 5.22]
[17, 'Furniture', 'Chair', 14, 114.28]
[18, 'Furniture', 'Table', 27, 482.17]
[19, 'Furniture', 'Bed', 32, 340.92]
[20, 'Furniture', 'Bookshelf', 22, 149.12]
[21, 'Stationery', 'Pen', 14, 496.34]
[22, 'Stationery', 'Notebook', 37, 144.44]
[23, 'Stationery', 'Pencil', 12, 304.91]
[24, 'Stationery', 'Eraser', 33, 126.51]
[25, 'Stationery', 'Highlighter', 16, 27.73]

Deleted Products Report:
- Jacket
- Shoes
Error: Product 'Jacket' was not deleted, cannot restore.

Updated Inventory after restoration:
[1, 'Electronics', 'Laptop', 35, 207.42]
[2, 'Electronics', 'Smartphone', 34, 349.99]
[4, 'Electronics', 'Smartwatch', 21, 82.63]
[5, 'Electronics', 'Camera', 20, 192.81]
[6, 'Clothing', 'T-shirt', 33, 298.03]
[7, 'Clothing', 'Jeans', 48, 136.29]
[8, 'Clothing', 'Jacket', 28, 199.12]
[10, 'Clothing', 'Sweater', 19, 145.63]
[11, 'Groceries', 'Rice', 8, 284.96]
[12, 'Groceries', 'Bread', 46, 419.4]
[13, 'Groceries', 'Milk', 22, 178.69]
[14, 'Groceries', 'Eggs', 19, 239.28]
[15, 'Groceries', 'Apple', 49, 130.63]
[16, 'Furniture', 'Sofa', 23, 5.22]
[17, 'Furniture', 'Chair', 14, 114.28]
[18, 'Furniture', 'Table', 27, 482.17]
[19, 'Furniture', 'Bed', 32, 340.92]
[20, 'Furniture', 'Bookshelf', 22, 149.12]
[21, 'Stationery', 'Pen', 14, 496.34]
[22, 'Stationery', 'Notebook', 37, 144.44]
[23, 'Stationery', 'Pencil', 12, 304.91]
[24, 'Stationery', 'Eraser', 33, 126.51]
[25, 'Stationery', 'Highlighter', 16, 27.73]

Updated inventory saved to 'inventory.csv'.

**Prompt 5:** Now, I want to update specific product 'chair'

In [54]:
# Function to validate and update a specific product's details (quantity and price)
def update_specific_product_with_validation(product_name, new_quantity, new_price, inventory):
    if new_quantity < 0 or new_price < 0:
        print("Error: Quantity and price must be positive values.")
        return

    product_found = False
    for product in inventory:
        if product[2].lower() == product_name.lower():  # Case-insensitive comparison
            product[3] = new_quantity  # Update quantity
            product[4] = new_price  # Update price
            print(f"Product '{product_name}' updated successfully. New Quantity: {new_quantity}, New Price: ${new_price}")
            product_found = True
            break

    if not product_found:
        print(f"Error: Product '{product_name}' not found in the inventory.")

# Function to search for a product by name
def search_product_by_name(product_name, inventory):
    for product in inventory:
        if product[2].lower() == product_name.lower():
            print(f"Product Found: ID: {product[0]}, Category: {product[1]}, Name: {product[2]}, Quantity: {product[3]}, Price: ${product[4]}")
            return product
    print(f"Error: Product '{product_name}' not found in the inventory.")
    return None

# Function to display all products in the inventory
def display_all_products(inventory):
    print("\nCurrent Inventory:")
    for product in inventory:
        print(f"ID: {product[0]}, Category: {product[1]}, Product Name: {product[2]}, Quantity: {product[3]}, Price: ${product[4]}")

# Example Usage:

# Print the initial inventory
print("Initial Inventory:")
display_all_products(inventory)

# Update the 'Chair' product (update quantity and price)
update_specific_product_with_validation('Chair', 15, 199.99, inventory)

# Search for a specific product ('Chair') in the inventory
search_product_by_name('Chair', inventory)

# Print the updated inventory after modification
print("\nUpdated Inventory after modification:")
display_all_products(inventory)

# Save the updated inventory to CSV
write_inventory_to_csv(inventory)

Initial Inventory:

Current Inventory:
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
ID: 6, Category: Clothing, Product Name: T-shirt, Quantity: 33, Price: $298.03
ID: 7, Category: Clothing, Product Name: Jeans, Quantity: 48, Price: $136.29
ID: 8, Category: Clothing, Product Name: Jacket, Quantity: 28, Price: $199.12
ID: 10, Category: Clothing, Product Name: Sweater, Quantity: 19, Price: $145.63
ID: 11, Category: Groceries, Product Name: Rice, Quantity: 8, Price: $284.96
ID: 12, Category: Groceries, Product Name: Bread, Quantity: 46, Price: $419.4
ID: 13, Category: Groceries, Product Name: Milk, Quantity: 22, Price: $178.69
ID: 14, Category: Groceries, Product Name: Eggs, Quantity: 19, Price: $239.28
ID: 15, Category: Groceries, Product Name: Apple, Quantity: 49, Price: $130.63
ID: 16, Category: Furniture, Product Name: Sofa, Quantity: 23, Price: $5.22
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 14, Price: $114.28
ID: 18, Category: Furniture, Product Name: Table, Quantity: 27, Price: $482.17
ID: 19, Category: Furniture, Product Name: Bed, Quantity: 32, Price: $340.92
ID: 20, Category: Furniture, Product Name: Bookshelf, Quantity: 22, Price: $149.12
ID: 21, Category: Stationery, Product Name: Pen, Quantity: 14, Price: $496.34
ID: 22, Category: Stationery, Product Name: Notebook, Quantity: 37, Price: $144.44
ID: 23, Category: Stationery, Product Name: Pencil, Quantity: 12, Price: $304.91
ID: 24, Category: Stationery, Product Name: Eraser, Quantity: 33, Price: $126.51
ID: 25, Category: Stationery, Product Name: Highlighter, Quantity: 16, Price: $27.73
Product 'Chair' updated successfully. New Quantity: 15, New Price: $199.99
Product Found: ID: 17, Category: Furniture, Name: Chair, Quantity: 15, Price: $199.99

Updated Inventory after modification:

Current Inventory:
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
ID: 6, Category: Clothing, Product Name: T-shirt, Quantity: 33, Price: $298.03
ID: 7, Category: Clothing, Product Name: Jeans, Quantity: 48, Price: $136.29
ID: 8, Category: Clothing, Product Name: Jacket, Quantity: 28, Price: $199.12
ID: 10, Category: Clothing, Product Name: Sweater, Quantity: 19, Price: $145.63
ID: 11, Category: Groceries, Product Name: Rice, Quantity: 8, Price: $284.96
ID: 12, Category: Groceries, Product Name: Bread, Quantity: 46, Price: $419.4
ID: 13, Category: Groceries, Product Name: Milk, Quantity: 22, Price: $178.69
ID: 14, Category: Groceries, Product Name: Eggs, Quantity: 19, Price: $239.28
ID: 15, Category: Groceries, Product Name: Apple, Quantity: 49, Price: $130.63
ID: 16, Category: Furniture, Product Name: Sofa, Quantity: 23, Price: $5.22
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 15, Price: $199.99
ID: 18, Category: Furniture, Product Name: Table, Quantity: 27, Price: $482.17
ID: 19, Category: Furniture, Product Name: Bed, Quantity: 32, Price: $340.92
ID: 20, Category: Furniture, Product Name: Bookshelf, Quantity: 22, Price: $149.12
ID: 21, Category: Stationery, Product Name: Pen, Quantity: 14, Price: $496.34
ID: 22, Category: Stationery, Product Name: Notebook, Quantity: 37, Price: $144.44
ID: 23, Category: Stationery, Product Name: Pencil, Quantity: 12, Price: $304.91
ID: 24, Category: Stationery, Product Name: Eraser, Quantity: 33, Price: $126.51
ID: 25, Category: Stationery, Product Name: Highlighter, Quantity: 16, Price: $27.73

Updated inventory saved to 'inventory.csv'.

**Prompt 6:** I want to add new basic search feature for the inventory management

In [55]:
# Function to search the inventory based on a specific criterion (name or category)
def basic_search(criteria, search_value, inventory):
    results = []
    criteria = criteria.lower()
    search_value = search_value.lower()

    for product in inventory:
        # Search based on product name
        if criteria == 'name' and search_value in product[2].lower():
            results.append(product)
        # Search based on category
        elif criteria == 'category' and search_value in product[1].lower():
            results.append(product)

    # Print search results
    if results:
        print(f"\nSearch Results for '{search_value}' in '{criteria}':")
        for product in results:
            print(f"ID: {product[0]}, Category: {product[1]}, Product Name: {product[2]}, Quantity: {product[3]}, Price: ${product[4]}")
    else:
        print(f"No results found for '{search_value}' in '{criteria}'.")

# Example Usage:

# Print the initial inventory
print("Initial Inventory:")
display_all_products(inventory)

# Search by product name
basic_search('name', 'chair', inventory)

# Search by category
basic_search('category', 'electronics', inventory)

# Search for a product that does not exist
basic_search('name', 'tablet', inventory)

Initial Inventory:

Current Inventory:
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
ID: 6, Category: Clothing, Product Name: T-shirt, Quantity: 33, Price: $298.03
ID: 7, Category: Clothing, Product Name: Jeans, Quantity: 48, Price: $136.29
ID: 8, Category: Clothing, Product Name: Jacket, Quantity: 28, Price: $199.12
ID: 10, Category: Clothing, Product Name: Sweater, Quantity: 19, Price: $145.63
ID: 11, Category: Groceries, Product Name: Rice, Quantity: 8, Price: $284.96
ID: 12, Category: Groceries, Product Name: Bread, Quantity: 46, Price: $419.4
ID: 13, Category: Groceries, Product Name: Milk, Quantity: 22, Price: $178.69
ID: 14, Category: Groceries, Product Name: Eggs, Quantity: 19, Price: $239.28
ID: 15, Category: Groceries, Product Name: Apple, Quantity: 49, Price: $130.63
ID: 16, Category: Furniture, Product Name: Sofa, Quantity: 23, Price: $5.22
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 15, Price: $199.99
ID: 18, Category: Furniture, Product Name: Table, Quantity: 27, Price: $482.17
ID: 19, Category: Furniture, Product Name: Bed, Quantity: 32, Price: $340.92
ID: 20, Category: Furniture, Product Name: Bookshelf, Quantity: 22, Price: $149.12
ID: 21, Category: Stationery, Product Name: Pen, Quantity: 14, Price: $496.34
ID: 22, Category: Stationery, Product Name: Notebook, Quantity: 37, Price: $144.44
ID: 23, Category: Stationery, Product Name: Pencil, Quantity: 12, Price: $304.91
ID: 24, Category: Stationery, Product Name: Eraser, Quantity: 33, Price: $126.51
ID: 25, Category: Stationery, Product Name: Highlighter, Quantity: 16, Price: $27.73

Search Results for 'chair' in 'name':
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 15, Price: $199.99

Search Results for 'electronics' in 'category':
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
No results found for 'tablet' in 'name'.

**Prompt 7:** Moving forward, I want to change the CSV file to automate restocking when the order is out of stock

In [57]:
# Function to read the inventory from the CSV file
def read_inventory_from_csv(file_name='inventory.csv'):
    inventory = []
    try:
        with open(file_name, mode='r') as file:
            reader = csv.reader(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)
            next(reader)  # Skip header
            for row in reader:
                product_id, category, product_name, quantity, price = row
                inventory.append([int(product_id), category, product_name, int(quantity), float(price)])
    except FileNotFoundError:
        print(f"File {file_name} not found. Creating a new one.")
    return inventory

# Function to write the inventory to the CSV file
def write_inventory_to_csv(inventory, file_name='inventory.csv'):
    header = ['Product ID', 'Category', 'Product Name', 'Quantity', 'Price']

    with open(file_name, mode='w', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # Write the header
        writer.writerow(header)

        # Write the product data
        writer.writerows(inventory)

    print(f"Inventory CSV file '{file_name}' updated successfully!")

# Function to check and restock products that are out of stock
def restock_product_if_needed(inventory, product_name, restock_quantity=50, min_threshold=5):
    restocked = False
    for product in inventory:
        if product[2].lower() == product_name.lower():
            if product[3] <= min_threshold:  # If the quantity is below threshold
                product[3] = restock_quantity  # Restock the product
                print(f"Product '{product_name}' restocked to {restock_quantity}.")
                restocked = True
            break
    if not restocked:
        print(f"Error: Product '{product_name}' not found for restocking.")

# Function to simulate order processing and restocking
def process_order(inventory, ordered_product_name, ordered_quantity):
    for product in inventory:
        if product[2].lower() == ordered_product_name.lower():
            if product[3] >= ordered_quantity:
                product[3] -= ordered_quantity
                print(f"Order processed for '{ordered_product_name}' ({ordered_quantity} units).")
                # If quantity is low, restock automatically
                restock_product_if_needed(inventory, ordered_product_name)
            else:
                print(f"Not enough stock for '{ordered_product_name}'. Current stock: {product[3]}")
            break
    else:
        print(f"Product '{ordered_product_name}' not found in inventory.")

# Example Usage:

# Read the initial inventory from CSV file
inventory = read_inventory_from_csv()

# Display the initial inventory
print("Initial Inventory:")
for product in inventory:
    print(f"ID: {product[0]}, Category: {product[1]}, Product Name: {product[2]}, Quantity: {product[3]}, Price: ${product[4]}")

# Simulate an order being placed (e.g., 2 units of 'Chair')
process_order(inventory, 'Chair', 2)

# After processing the order, write the updated inventory back to CSV
write_inventory_to_csv(inventory)

Initial Inventory:
ID: 1, Category: Electronics, Product Name: Laptop, Quantity: 35, Price: $207.42
ID: 2, Category: Electronics, Product Name: Smartphone, Quantity: 34, Price: $349.99
ID: 4, Category: Electronics, Product Name: Smartwatch, Quantity: 21, Price: $82.63
ID: 5, Category: Electronics, Product Name: Camera, Quantity: 20, Price: $192.81
ID: 6, Category: Clothing, Product Name: T-shirt, Quantity: 33, Price: $298.03
ID: 7, Category: Clothing, Product Name: Jeans, Quantity: 48, Price: $136.29
ID: 8, Category: Clothing, Product Name: Jacket, Quantity: 28, Price: $199.12
ID: 10, Category: Clothing, Product Name: Sweater, Quantity: 19, Price: $145.63
ID: 11, Category: Groceries, Product Name: Rice, Quantity: 8, Price: $284.96
ID: 12, Category: Groceries, Product Name: Bread, Quantity: 46, Price: $419.4
ID: 13, Category: Groceries, Product Name: Milk, Quantity: 22, Price: $178.69
ID: 14, Category: Groceries, Product Name: Eggs, Quantity: 19, Price: $239.28
ID: 15, Category: Groceries, Product Name: Apple, Quantity: 49, Price: $130.63
ID: 16, Category: Furniture, Product Name: Sofa, Quantity: 23, Price: $5.22
ID: 17, Category: Furniture, Product Name: Chair, Quantity: 13, Price: $199.99
ID: 18, Category: Furniture, Product Name: Table, Quantity: 27, Price: $482.17
ID: 19, Category: Furniture, Product Name: Bed, Quantity: 32, Price: $340.92
ID: 20, Category: Furniture, Product Name: Bookshelf, Quantity: 22, Price: $149.12
ID: 21, Category: Stationery, Product Name: Pen, Quantity: 14, Price: $496.34
ID: 22, Category: Stationery, Product Name: Notebook, Quantity: 37, Price: $144.44
ID: 23, Category: Stationery, Product Name: Pencil, Quantity: 12, Price: $304.91
ID: 24, Category: Stationery, Product Name: Eraser, Quantity: 33, Price: $126.51
ID: 25, Category: Stationery, Product Name: Highlighter, Quantity: 16, Price: $27.73
Order processed for 'Chair' (2 units).
Error: Product 'Chair' not found for restocking.
Inventory CSV file 'inventory.csv' updated successfully!

**Prompt 8:** To maintain proper recording of the information, I want to generate reports

In [58]:
import datetime

# Function to write inventory report
def write_inventory_report(inventory, file_name='inventory_report.csv'):
    header = ['Product ID', 'Category', 'Product Name', 'Quantity', 'Price']

    with open(file_name, mode='w', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # Write the header
        writer.writerow(header)

        # Write the inventory data
        for product in inventory:
            writer.writerow(product)

    print(f"Inventory Report generated: {file_name}")

# Function to write sales report
def write_sales_report(order_details, file_name='sales_report.csv'):
    header = ['Product Name', 'Quantity Ordered', 'Order Date']

    with open(file_name, mode='a', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # If file is empty, write header
        if file.tell() == 0:
            writer.writerow(header)

        # Write the order details
        for order in order_details:
            writer.writerow(order)

    print(f"Sales Report updated: {file_name}")

# Function to write restocking report
def write_restocking_report(restocking_details, file_name='restocking_report.csv'):
    header = ['Product Name', 'Restocked Quantity', 'Restock Date']

    with open(file_name, mode='a', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # If file is empty, write header
        if file.tell() == 0:
            writer.writerow(header)

        # Write the restocking details
        for restock in restocking_details:
            writer.writerow(restock)

    print(f"Restocking Report updated: {file_name}")

# Function to write out-of-stock report
def write_out_of_stock_report(out_of_stock_products, file_name='out_of_stock_report.csv'):
    header = ['Product Name', 'Out-of-Stock Date']

    with open(file_name, mode='a', newline='') as file:
        writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

        # If file is empty, write header
        if file.tell() == 0:
            writer.writerow(header)

        # Write the out-of-stock products
        for product in out_of_stock_products:
            writer.writerow(product)

    print(f"Out-of-Stock Report updated: {file_name}")

# Function to process an order and generate sales/out-of-stock reports
def process_order_and_generate_reports(inventory, ordered_product_name, ordered_quantity, order_details, out_of_stock_products):
    product_found = False
    for product in inventory:
        if product[2].lower() == ordered_product_name.lower():
            product_found = True
            if product[3] >= ordered_quantity:
                product[3] -= ordered_quantity
                order_details.append([product[2], ordered_quantity, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')])
                print(f"Order processed for '{ordered_product_name}' ({ordered_quantity} units).")
            else:
                out_of_stock_products.append([product[2], datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')])
                print(f"Not enough stock for '{ordered_product_name}'. Current stock: {product[3]}")
            break
    else:
        print(f"Product '{ordered_product_name}' not found in inventory.")

# Function to restock and generate restocking reports
def restock_product_and_generate_report(inventory, product_name, restock_quantity=50, min_threshold=5, restocking_details=[]):
    for product in inventory:
        if product[2].lower() == product_name.lower():
            if product[3] <= min_threshold:
                product[3] = restock_quantity  # Restock the product
                restocking_details.append([product[2], restock_quantity, datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')])
                print(f"Product '{product_name}' restocked to {restock_quantity}.")
            break

# Example Usage:

# Sample inventory data
inventory = [
    [1, 'Electronics', 'Smartphone', 10, 299.99],
    [2, 'Clothing', 'Sweater', 20, 49.99],
    [3, 'Clothing', 'Jacket', 0, 99.99],
    [4, 'Electronics', 'Headphones', 10, 150.00],
    [5, 'Furniture', 'Chair', 5, 150.00]
]

# Lists to track sales, restocking, and out-of-stock products
order_details = []
out_of_stock_products = []
restocking_details = []

# Process orders
process_order_and_generate_reports(inventory, 'Chair', 2, order_details, out_of_stock_products)
process_order_and_generate_reports(inventory, 'Jacket', 3, order_details, out_of_stock_products)

# Restock products
restock_product_and_generate_report(inventory, 'Chair', restock_quantity=50, min_threshold=5, restocking_details=restocking_details)
restock_product_and_generate_report(inventory, 'Jacket', restock_quantity=50, min_threshold=5, restocking_details=restocking_details)

# Write reports to CSV files
write_inventory_report(inventory)
write_sales_report(order_details)
write_restocking_report(restocking_details)
write_out_of_stock_report(out_of_stock_products)

Order processed for 'Chair' (2 units).
Not enough stock for 'Jacket'. Current stock: 0
Product 'Chair' restocked to 50.
Product 'Jacket' restocked to 50.
Inventory Report generated: inventory_report.csv
Sales Report updated: sales_report.csv
Restocking Report updated: restocking_report.csv
Out-of-Stock Report updated: out_of_stock_report.csv

**Prompt 9:** Now, I want to manage corrupted CSV files, write a python code for this one

In [59]:
# Function to detect if a CSV file is corrupted
def is_csv_corrupted(file_name):
    try:
        with open(file_name, mode='r', newline='') as file:
            csv_reader = csv.reader(file)
            for row in csv_reader:
                # Perform basic checks on row structure, like number of columns
                if len(row) = 5:  # Assuming 5 columns in your CSV file (Product ID, Category, etc.)
                    print(f"Warning: Row has an unexpected number of columns: {row}")
                    return True
            return False  # File is not corrupted
    except Exception as e:
        print(f"Error: Unable to read the file {file_name}. Reason: {str(e)}")
        return True  # Corrupted or unreadable file

# Example usage
file_name = 'inventory.csv'
if is_csv_corrupted(file_name):
    print(f"The file '{file_name}' is corrupted!")
else:
    print(f"The file '{file_name}' is valid.")

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-59-133fd000c8c8>, line 8)

**Error detection and correction**  

File "<ipython-input-61-133fd000c8c8>", line 8
    if len(row) = 5:  # Assuming 5 columns in your CSV file (Product ID, Category, etc.)
       ^
SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='?

In [60]:
# Function to detect if a CSV file is corrupted
def is_csv_corrupted(file_name):
    try:
        with open(file_name, mode='r', newline='') as file:
            csv_reader = csv.reader(file)
            for row in csv_reader:
                # Perform basic checks on row structure, like number of columns
                if len(row) != 5:  # Assuming 5 columns in your CSV file (Product ID, Category, etc.)
                    print(f"Warning: Row has an unexpected number of columns: {row}")
                    return True
            return False  # File is not corrupted
    except Exception as e:
        print(f"Error: Unable to read the file {file_name}. Reason: {str(e)}")
        return True  # Corrupted or unreadable file

# Example usage
file_name = 'inventory.csv'
if is_csv_corrupted(file_name):
    print(f"The file '{file_name}' is corrupted!")
else:
    print(f"The file '{file_name}' is valid.")

The file 'inventory.csv' is valid.

In [61]:
# Function to recover from corrupted CSV file
def recover_csv(file_name, output_file_name):
    valid_rows = []
    try:
        with open(file_name, mode='r', newline='') as file:
            csv_reader = csv.reader(file)
            for row in csv_reader:
                # Check for row structure, such as missing fields or extra columns
                if len(row) == 5:  # Ensure the row has the correct number of columns
                    valid_rows.append(row)
                else:
                    print(f"Warning: Skipping corrupted row: {row}")

        # Write valid rows to a new CSV file
        with open(output_file_name, mode='w', newline='') as file:
            writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)
            writer.writerows(valid_rows)

        print(f"File recovered successfully. Valid data written to '{output_file_name}'")

    except Exception as e:
        print(f"Error: Unable to recover the file. Reason: {str(e)}")

# Example usage
recover_csv('inventory.csv', 'recovered_inventory.csv')

File recovered successfully. Valid data written to 'recovered_inventory.csv'

In [62]:
import shutil
import os

# Function to create a backup of a CSV file
def create_backup(file_name):
    try:
        # Create a backup folder if it doesn't exist
        if not os.path.exists('backups'):
            os.makedirs('backups')

        # Define backup file name with timestamp
        backup_file_name = f"backups/{file_name.split('.')[0]}_backup_{datetime.datetime.now().strftime('%Y%m%d%H%M%S')}.csv"

        # Copy the original file to the backup folder
        shutil.copy(file_name, backup_file_name)

        print(f"Backup created successfully: {backup_file_name}")

    except Exception as e:
        print(f"Error: Unable to create backup. Reason: {str(e)}")

# Example usage
create_backup('inventory.csv')

Backup created successfully: backups/inventory_backup_20250202183404.csv

**Prompt 10:** Make sure to maintain a minimum of 50 products of different categories in the inventory so that we have sufficient products.

In [63]:
# Function to ensure a minimum number of products in inventory
def ensure_min_inventory(inventory, categories, min_inventory=50):
    # If the inventory has fewer than the minimum required products, add new products
    while len(inventory) < min_inventory:
        generate_product_data(categories, inventory)

# Function to generate product data (same as earlier)
def generate_product_data(categories, inventory):
    product_id = len(inventory) + 1
    category = random.choice(list(categories.keys()))
    product_name = random.choice(categories[category])
    quantity = random.randint(5, 50)
    price = round(random.uniform(5, 500), 2)

    # Add the generated product to the inventory
    inventory.append([product_id, category, product_name, quantity, price])

# Function to write the inventory to a CSV file
def write_inventory_to_csv(inventory, file_name='inventory.csv'):
    header = ['Product ID', 'Category', 'Product Name', 'Quantity', 'Price']

    try:
        with open(file_name, mode='w', newline='') as file:
            writer = csv.writer(file, quotechar="'", quoting=csv.QUOTE_MINIMAL)

            # Write the header and product data
            writer.writerow(header)
            writer.writerows(inventory)

        print(f"Inventory written to '{file_name}' successfully.")

    except Exception as e:
        print(f"Error: Unable to write to file '{file_name}'. Reason: {str(e)}")

# Function to print the inventory (for demonstration purposes)
def print_inventory(inventory):
    for product in inventory:
        print(product)

# Example Usage

# Define product categories and sample products
categories = {
    'Electronics': ['Laptop', 'Smartphone', 'Headphones', 'Smartwatch', 'Camera'],
    'Clothing': ['T-shirt', 'Jeans', 'Jacket', 'Shoes', 'Sweater'],
    'Groceries': ['Rice', 'Bread', 'Milk', 'Eggs', 'Apple'],
    'Furniture': ['Sofa', 'Chair', 'Table', 'Bed', 'Bookshelf'],
    'Stationery': ['Pen', 'Notebook', 'Pencil', 'Eraser', 'Highlighter']
}

# Create an initial inventory with some products
inventory = [
    [1, 'Electronics', 'Smartphone', 10, 299.99],
    [2, 'Clothing', 'Sweater', 20, 49.99],
    [3, 'Clothing', 'Jacket', 0, 99.99],
    [4, 'Electronics', 'Headphones', 10, 150.00]
]

# Ensure there are at least 50 products in the inventory
ensure_min_inventory(inventory, categories, min_inventory=50)

# Print the current inventory (for demonstration)
print("Current Inventory:")
print_inventory(inventory)

# Write the updated inventory to a CSV file
write_inventory_to_csv(inventory)

Current Inventory:
[1, 'Electronics', 'Smartphone', 10, 299.99]
[2, 'Clothing', 'Sweater', 20, 49.99]
[3, 'Clothing', 'Jacket', 0, 99.99]
[4, 'Electronics', 'Headphones', 10, 150.0]
[5, 'Groceries', 'Eggs', 43, 31.93]
[6, 'Furniture', 'Table', 28, 292.23]
[7, 'Clothing', 'T-shirt', 11, 408.78]
[8, 'Clothing', 'Jacket', 46, 334.53]
[9, 'Furniture', 'Sofa', 21, 143.19]
[10, 'Electronics', 'Smartwatch', 50, 256.64]
[11, 'Stationery', 'Pencil', 12, 400.15]
[12, 'Furniture', 'Table', 39, 336.34]
[13, 'Furniture', 'Bed', 33, 375.47]
[14, 'Stationery', 'Eraser', 45, 247.7]
[15, 'Clothing', 'Sweater', 37, 241.02]
[16, 'Electronics', 'Camera', 47, 379.25]
[17, 'Groceries', 'Eggs', 25, 75.52]
[18, 'Furniture', 'Bookshelf', 30, 284.5]
[19, 'Stationery', 'Pen', 45, 7.23]
[20, 'Furniture', 'Sofa', 29, 182.51]
[21, 'Stationery', 'Pen', 19, 161.11]
[22, 'Groceries', 'Eggs', 7, 488.83]
[23, 'Clothing', 'Jeans', 30, 201.41]
[24, 'Groceries', 'Rice', 50, 174.39]
[25, 'Electronics', 'Headphones', 47, 140.94]
[26, 'Groceries', 'Milk', 9, 436.87]
[27, 'Groceries', 'Eggs', 25, 378.4]
[28, 'Furniture', 'Sofa', 46, 471.92]
[29, 'Stationery', 'Pencil', 34, 412.4]
[30, 'Groceries', 'Apple', 8, 28.25]
[31, 'Clothing', 'Sweater', 37, 477.51]
[32, 'Groceries', 'Eggs', 35, 359.45]
[33, 'Furniture', 'Chair', 20, 480.43]
[34, 'Clothing', 'Jeans', 5, 55.89]
[35, 'Clothing', 'Jeans', 42, 460.63]
[36, 'Stationery', 'Pen', 21, 332.12]
[37, 'Furniture', 'Bed', 22, 173.08]
[38, 'Stationery', 'Pen', 27, 393.07]
[39, 'Furniture', 'Table', 24, 176.51]
[40, 'Groceries', 'Apple', 32, 211.07]
[41, 'Clothing', 'Jeans', 6, 11.12]
[42, 'Stationery', 'Highlighter', 46, 361.37]
[43, 'Furniture', 'Bed', 36, 463.56]
[44, 'Furniture', 'Table', 21, 281.02]
[45, 'Electronics', 'Laptop', 9, 173.98]
[46, 'Stationery', 'Highlighter', 12, 327.5]
[47, 'Furniture', 'Sofa', 43, 205.88]
[48, 'Stationery', 'Pencil', 14, 492.67]
[49, 'Furniture', 'Bed', 22, 427.42]
[50, 'Electronics', 'Smartphone', 29, 268.19]
Inventory written to 'inventory.csv' successfully.

# Question 7 (20 points)

Create a well desined Python program for a flight booking system. Offer core functions for adding new flights, finding trips, reserving and releasing seating space and creating performance reports. Ensure the system manages edge cases like invalid input, overbooking, and cancellations. Finally, extend the booking system by including advanced features and maintain about 50 flight in the system.

**Prompt 1:**Creating a well designed python program to display a proper flight booking system and showcasing available flights

In [64]:
# Initial flight data
available_flights = {
    "Flight101": {"origin": "New York", "destination": "Los Angeles", "seats_available": 50},
    "Flight102": {"origin": "San Francisco", "destination": "Chicago", "seats_available": 30},
    "Flight103": {"origin": "Miami", "destination": "Dallas", "seats_available": 100}
}

bookings = {}

# Function to display available flights
def display_available_flights():
    print("Available Flights:")
    for flight, details in available_flights.items():
        print(f"{flight}: {details['origin']} to {details['destination']} - Seats Available: {details['seats_available']}")


# Main program flow

# Displaying available flights
display_available_flights()

Available Flights:
Flight101: New York to Los Angeles - Seats Available: 50
Flight102: San Francisco to Chicago - Seats Available: 30
Flight103: Miami to Dallas - Seats Available: 100

**Prompt 2:** Help me to write a code to add new flights and also display the available flights after cancellation

In [65]:
# Function to add new flights
def add_flight(flight_id, origin, destination, seats_available):
    if flight_id in available_flights:
        print(f"Error: {flight_id} already exists!")
    else:
        available_flights[flight_id] = {"origin": origin, "destination": destination, "seats_available": seats_available}
        print(f"New flight {flight_id} added: {origin} to {destination} with {seats_available} seats available.")

# Adding new flights
add_flight("Flight104", "Los Angeles", "New York", 60)
add_flight("Flight101", "Boston", "Chicago", 40)  # Should show error since Flight101 already exists

# Displaying available flights after cancellation
display_available_flights()

New flight Flight104 added: Los Angeles to New York with 60 seats available.
Error: Flight101 already exists!
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 50
Flight102: San Francisco to Chicago - Seats Available: 30
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60

**Prompt 3:** Write a function to manaked booking of a flight and display flights after booking

In [66]:
# Function to book a flight
def book_flight(flight_id, num_seats, customer_name):
    if flight_id not in available_flights:
        print(f"Error: {flight_id} does not exist!")
        return

    if available_flights[flight_id]["seats_available"] >= num_seats:
        available_flights[flight_id]["seats_available"] -= num_seats
        bookings[customer_name] = {"flight": flight_id, "seats_booked": num_seats}
        print(f"Booking successful! {customer_name} has booked {num_seats} seats on {flight_id}.")
    else:
        print(f"Error: Not enough seats available on {flight_id}. Available seats: {available_flights[flight_id]['seats_available']}.")

# Booking a flight
book_flight("Flight101", 5, "John Doe")
book_flight("Flight102", 2, "Alice Smith")
book_flight("Flight103", 150, "Bob Brown")  # Should show an error for overbooking

# Displaying available flights after booking
display_available_flights()

Booking successful! John Doe has booked 5 seats on Flight101.
Booking successful! Alice Smith has booked 2 seats on Flight102.
Error: Not enough seats available on Flight103. Available seats: 100.
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 45
Flight102: San Francisco to Chicago - Seats Available: 28
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60

**Prompt 4:**Write a code to manage cancellations along with reasoning and releasing seating space

In [67]:
# Function to cancel a booking
def cancel_booking(customer_name):
    if customer_name in bookings:
        flight_id = bookings[customer_name]["flight"]
        seats_booked = bookings[customer_name]["seats_booked"]
        available_flights[flight_id]["seats_available"] += seats_booked
        del bookings[customer_name]
        print(f"Booking canceled for {customer_name}. {seats_booked} seats have been released.")
    else:
        print(f"Error: No booking found for {customer_name}.")

# Canceling a booking
cancel_booking("John Doe")
cancel_booking("Charlie Daniels")  # Should show error as no booking exists

# Displaying available flights after cancellation
display_available_flights()

Booking canceled for John Doe. 5 seats have been released.
Error: No booking found for Charlie Daniels.
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 50
Flight102: San Francisco to Chicago - Seats Available: 28
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60

**Prompt 5:** Create the function to generate performance reports

In [68]:
# Function to generate a performance report
def generate_performance_report():
    total_bookings = sum([booking["seats_booked"] for booking on bookings.values()])
    total_cancellations = 0  # This can be tracked separately if desired

    # Generating the available seats report per flight
    available_seats_report = {flight_id: details['seats_available'] for flight_id, details in available_flights.items()}

    print("\nPerformance Report:")
    print(f"Total Bookings Made: {total_bookings}")
    print(f"Total Cancellations Made: {total_cancellations}")
    print("Available Seats per Flight:")

    for flight_id, available_seats in available_seats_report.items():
        print(f"{flight_id}: {available_seats} seats available")

# Function to track and update cancellations count (if you want to separately track cancellations)
def track_cancellations(customer_name):
    if customer_name in bookings:
        # Increment cancellation count if a cancellation happens
        total_cancellations = 1
        print(f"Booking canceled for {customer_name}.")
        return total_cancellations
    else:
        print(f"Error: No booking found for {customer_name}.")
        return 0


# Generating the performance report (before bookings)
generate_performance_report()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-68-d90cc3a9510a>, line 3)

**Finding error and correcting it**   

File "<ipython-input-87-7e9c8f523a99>", line 3
    total_bookings = sum([booking["seats_booked"] for booking on bookings.values()])
                                                      ^
SyntaxError: invalid syntax. Perhaps you forgot a comma?

In [69]:
# Function to generate a performance report
def generate_performance_report():
    total_bookings = sum([booking["seats_booked"] for booking in bookings.values()])
    total_cancellations = 0  # This can be tracked separately if desired

    # Generating the available seats report per flight
    available_seats_report = {flight_id: details['seats_available'] for flight_id, details in available_flights.items()}

    print("\nPerformance Report:")
    print(f"Total Bookings Made: {total_bookings}")
    print(f"Total Cancellations Made: {total_cancellations}")
    print("Available Seats per Flight:")

    for flight_id, available_seats in available_seats_report.items():
        print(f"{flight_id}: {available_seats} seats available")

# Function to track and update cancellations count (if you want to separately track cancellations)
def track_cancellations(customer_name):
    if customer_name in bookings:
        # Increment cancellation count if a cancellation happens
        total_cancellations = 1
        print(f"Booking canceled for {customer_name}.")
        return total_cancellations
    else:
        print(f"Error: No booking found for {customer_name}.")
        return 0


# Generating the performance report (before bookings)
generate_performance_report()

Performance Report:
Total Bookings Made: 2
Total Cancellations Made: 0
Available Seats per Flight:
Flight101: 50 seats available
Flight102: 28 seats available
Flight103: 100 seats available
Flight104: 60 seats available

**Prompt 6** Manage the invalid input by validating seat input and write a python code for that

In [70]:
# Function to validate seat input (must be a positive integer)
def validate_seat_input(num_seats):
    if not isinstance(num_seats, int) or num_seats <= 0:
        print("Error: Invalid number of seats. Please enter a positive integer.")
        return False
    return True

# Function to validate flight ID input (must exist in available flights)
def validate_flight_input(flight_id):
    if flight_id not in available_flights:
        print(f"Error: {flight_id} does not exist!")
        return False
    return True

# Function to validate customer name input (must be a non-empty string)
def validate_customer_input(customer_name):
    if not isinstance(customer_name, str) or len(customer_name.strip()) == 0:
        print("Error: Invalid customer name. Name cannot be empty.")
        return False
    return True

# Function to validate adding new flight (flight_id must be unique and seats available must be positive)
def validate_new_flight_input(flight_id, seats_available):
    if flight_id in available_flights:
        print(f"Error: Flight ID {flight_id} already exists.")
        return False
    if not isinstance(seats_available, int) or seats_available <= 0:
        print("Error: Invalid number of seats for the new flight. Please enter a positive integer.")
        return False
    return True

# Function to book a flight with input validation
def book_flight_with_validation(flight_id, num_seats, customer_name):
    if validate_flight_input(flight_id) and validate_seat_input(num_seats) and validate_customer_input(customer_name):
        if available_flights[flight_id]["seats_available"] >= num_seats:
            available_flights[flight_id]["seats_available"] -= num_seats
            bookings[customer_name] = {"flight": flight_id, "seats_booked": num_seats}
            print(f"Booking successful! {customer_name} has booked {num_seats} seats on {flight_id}.")
        else:
            print(f"Error: Not enough seats available on {flight_id}. Available seats: {available_flights[flight_id]['seats_available']}.")
    else:
        print("Booking failed due to invalid input.")

# Function to add a new flight with input validation
def add_flight_with_validation(flight_id, origin, destination, seats_available):
    if validate_new_flight_input(flight_id, seats_available):
        available_flights[flight_id] = {"origin": origin, "destination": destination, "seats_available": seats_available}
        print(f"New flight {flight_id} added: {origin} to {destination} with {seats_available} seats available.")
    else:
        print(f"Error: Flight {flight_id} could not be added due to invalid input.")

# Function to cancel a booking with input validation
def cancel_booking_with_validation(customer_name):
    if validate_customer_input(customer_name):
        if customer_name in bookings:
            flight_id = bookings[customer_name]["flight"]
            seats_booked = bookings[customer_name]["seats_booked"]
            available_flights[flight_id]["seats_available"] += seats_booked
            del bookings[customer_name]
            print(f"Booking canceled for {customer_name}. {seats_booked} seats have been released.")
        else:
            print(f"Error: No booking found for {customer_name}.")
    else:
        print("Cancellation failed due to invalid customer input.")

# Main Program Flow (Continued)

# Displaying available flights
display_available_flights()  # Display available flights

# Adding new flight with input validation
add_flight_with_validation("Flight105", "Seattle", "Boston", 50)
add_flight_with_validation("Flight101", "Boston", "Chicago", -10)  # Invalid seats available

# Displaying available flights after adding a new flight
display_available_flights()

# Booking flights with validation
book_flight_with_validation("Flight101", 5, "John Doe")
book_flight_with_validation("Flight102", 3, "Alice Smith")
book_flight_with_validation("Flight103", 150, "Charlie Brown")  # Invalid booking, exceeds available seats

# Displaying available flights after bookings
display_available_flights()

# Canceling bookings with validation
cancel_booking_with_validation("John Doe")
cancel_booking_with_validation("NonExistent Customer")  # Invalid customer name

Available Flights:
Flight101: New York to Los Angeles - Seats Available: 50
Flight102: San Francisco to Chicago - Seats Available: 28
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60
New flight Flight105 added: Seattle to Boston with 50 seats available.
Error: Flight ID Flight101 already exists.
Error: Flight Flight101 could not be added due to invalid input.
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 50
Flight102: San Francisco to Chicago - Seats Available: 28
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60
Flight105: Seattle to Boston - Seats Available: 50
Booking successful! John Doe has booked 5 seats on Flight101.
Booking successful! Alice Smith has booked 3 seats on Flight102.
Error: Not enough seats available on Flight103. Available seats: 100.
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 45
Flight102: San Francisco to Chicago - Seats Available: 25
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60
Flight105: Seattle to Boston - Seats Available: 50
Booking canceled for John Doe. 5 seats have been released.
Error: No booking found for NonExistent Customer.

**Prompt 7:** Write a python code to track the overbooked flights and manage overbooking

In [71]:
# Dictionary to track the overbooked flights
overbooked_flights = {}

# Function to manage overbooking and book a flight
def book_flight_with_overbooking_management(flight_id, num_seats, customer_name):
    if validate_flight_input(flight_id) and validate_seat_input(num_seats) and validate_customer_input(customer_name):
        available_seats = available_flights[flight_id]["seats_available"]

        # Check if there are enough seats available
        if num_seats <= available_seats:
            available_flights[flight_id]["seats_available"] -= num_seats
            bookings[customer_name] = {"flight": flight_id, "seats_booked": num_seats}
            print(f"Booking successful! {customer_name} has booked {num_seats} seats on {flight_id}.")
        else:
            # Flight is overbooked, can't proceed with booking
            print(f"Error: Not enough seats available on {flight_id}. Available seats: {available_seats}.")

            # Track overbooked flight
            if flight_id not in overbooked_flights:
                overbooked_flights[flight_id] = {"seats_requested": num_seats, "seats_available": available_seats}
                print(f"Flight {flight_id} is now overbooked. Seats requested: {num_seats}, Available seats: {available_seats}.")
            else:
                overbooked_flights[flight_id]["seats_requested"] += num_seats
            print(f"Overbooking detected. {flight_id} has been added to overbooked flights.")

# Function to display overbooked flights
def display_overbooked_flights():
    if overbooked_flights:
        print("\nOverbooked Flights:")
        for flight_id, details in overbooked_flights.items():
            print(f"Flight {flight_id}: Requested seats: {details['seats_requested']}, Available seats: {details['seats_available']}")
    else:
        print("\nNo overbooked flights.")

# Main Program Flow (Continued)

# Displaying available flights
display_available_flights()  # Display available flights

# Making bookings and managing overbooking
book_flight_with_overbooking_management("Flight101", 5, "John Doe")  # Valid booking
book_flight_with_overbooking_management("Flight102", 50, "Alice Smith")  # Invalid booking (exceeds available seats)
book_flight_with_overbooking_management("Flight103", 150, "Charlie Brown")  # Invalid booking (exceeds available seats)
book_flight_with_overbooking_management("Flight104", 10, "David Johnson")  # New flight with overbooking scenario

# Displaying overbooked flights
display_overbooked_flights()

# Displaying available flights after bookings
display_available_flights()

Available Flights:
Flight101: New York to Los Angeles - Seats Available: 50
Flight102: San Francisco to Chicago - Seats Available: 25
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 60
Flight105: Seattle to Boston - Seats Available: 50
Booking successful! John Doe has booked 5 seats on Flight101.
Error: Not enough seats available on Flight102. Available seats: 25.
Flight Flight102 is now overbooked. Seats requested: 50, Available seats: 25.
Overbooking detected. Flight102 has been added to overbooked flights.
Error: Not enough seats available on Flight103. Available seats: 100.
Flight Flight103 is now overbooked. Seats requested: 150, Available seats: 100.
Overbooking detected. Flight103 has been added to overbooked flights.
Booking successful! David Johnson has booked 10 seats on Flight104.

Overbooked Flights:
Flight Flight102: Requested seats: 50, Available seats: 25
Flight Flight103: Requested seats: 150, Available seats: 100
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 45
Flight102: San Francisco to Chicago - Seats Available: 25
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 50
Flight105: Seattle to Boston - Seats Available: 50

**Finding error and correcting it**

NameError                                 Traceback (most recent call last)
<ipython-input-89-6497d8ebe8f8> in <cell line: 0>()
     39
     40 # Making bookings and managing overbooking
---> 41 book_flight_with_overbooking_management("Flight101", 5, "John Doe")  # Valid booking
     42 book_flight_with_overbooking_management("Flight102", 50, "Alice Smith")  # Invalid booking (exceeds available seats)
     43 book_flight_with_overbooking_management("Flight103", 150, "Charlie Brown")  # Invalid booking (exceeds available seats)

<ipython-input-89-6497d8ebe8f8> in book_flight_with_overbooking_management(flight_id, num_seats, customer_name)
      4 # Function to manage overbooking and book a flight
      5 def book_flight_with_overbooking_management(flight_id, num_seats, customer_name):
----> 6     if validate_flight_input(flight_id) and validate_seat_input(num_seats) and validate_customer_input(customer_name):
      7         available_seats = available_flights[flight_id]["seats_available"]
      8

NameError: name 'validate_flight_input' is not defined

In [72]:
overbooked_flights = {}  # Dictionary to track overbooked flights

# Function to validate flight ID input
def validate_flight_input(flight_id):
    if flight_id not in available_flights:
        print(f"Error: {flight_id} does not exist!")
        return False
    return True

# Function to validate seat input (must be a positive integer)
def validate_seat_input(num_seats):
    if not isinstance(num_seats, int) or num_seats <= 0:
        print("Error: Invalid number of seats. Please enter a positive integer.")
        return False
    return True

# Function to validate customer name input (must be a non-empty string)
def validate_customer_input(customer_name):
    if not isinstance(customer_name, str) or len(customer_name.strip()) == 0:
        print("Error: Invalid customer name. Name cannot be empty.")
        return False
    return True

# Function to manage overbooking and book a flight
def book_flight_with_overbooking_management(flight_id, num_seats, customer_name):
    if validate_flight_input(flight_id) and validate_seat_input(num_seats) and validate_customer_input(customer_name):
        available_seats = available_flights[flight_id]["seats_available"]

        # Check if there are enough seats available
        if num_seats <= available_seats:
            available_flights[flight_id]["seats_available"] -= num_seats
            bookings[customer_name] = {"flight": flight_id, "seats_booked": num_seats}
            print(f"Booking successful! {customer_name} has booked {num_seats} seats on {flight_id}.")
        else:
            # Flight is overbooked, can't proceed with booking
            print(f"Error: Not enough seats available on {flight_id}. Available seats: {available_seats}.")

            # Track overbooked flight
            if flight_id not in overbooked_flights:
                overbooked_flights[flight_id] = {"seats_requested": num_seats, "seats_available": available_seats}
                print(f"Flight {flight_id} is now overbooked. Seats requested: {num_seats}, Available seats: {available_seats}.")
            else:
                overbooked_flights[flight_id]["seats_requested"] += num_seats
            print(f"Overbooking detected. {flight_id} has been added to overbooked flights.")

# Function to display overbooked flights
def display_overbooked_flights():
    if overbooked_flights:
        print("\nOverbooked Flights:")
        for flight_id, details in overbooked_flights.items():
            print(f"Flight {flight_id}: Requested seats: {details['seats_requested']}, Available seats: {details['seats_available']}")
    else:
        print("\nNo overbooked flights.")

# Function to display available flights
def display_available_flights():
    print("Available Flights:")
    for flight_id, details in available_flights.items():
        print(f"{flight_id}: {details['origin']} to {details['destination']} - Seats Available: {details['seats_available']}")

# Main Program Flow (Continued)

# Displaying available flights
display_available_flights()  # Display available flights

# Making bookings and managing overbooking
book_flight_with_overbooking_management("Flight101", 5, "John Doe")  # Valid booking
book_flight_with_overbooking_management("Flight102", 50, "Alice Smith")  # Invalid booking (exceeds available seats)
book_flight_with_overbooking_management("Flight103", 150, "Charlie Brown")  # Invalid booking (exceeds available seats)

# Displaying overbooked flights
display_overbooked_flights()

# Displaying available flights after bookings
display_available_flights()

Available Flights:
Flight101: New York to Los Angeles - Seats Available: 45
Flight102: San Francisco to Chicago - Seats Available: 25
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 50
Flight105: Seattle to Boston - Seats Available: 50
Booking successful! John Doe has booked 5 seats on Flight101.
Error: Not enough seats available on Flight102. Available seats: 25.
Flight Flight102 is now overbooked. Seats requested: 50, Available seats: 25.
Overbooking detected. Flight102 has been added to overbooked flights.
Error: Not enough seats available on Flight103. Available seats: 100.
Flight Flight103 is now overbooked. Seats requested: 150, Available seats: 100.
Overbooking detected. Flight103 has been added to overbooked flights.

Overbooked Flights:
Flight Flight102: Requested seats: 50, Available seats: 25
Flight Flight103: Requested seats: 150, Available seats: 100
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 40
Flight102: San Francisco to Chicago - Seats Available: 25
Flight103: Miami to Dallas - Seats Available: 100
Flight104: Los Angeles to New York - Seats Available: 50
Flight105: Seattle to Boston - Seats Available: 50

**Prompt 8** Extending the booking system by including additional information like price, class and duration of a flight

In [73]:
# Extending the available flights to include additional information like price, class, and duration
available_flights = {
    "Flight101": {
        "origin": "New York",
        "destination": "Los Angeles",
        "seats_available": 50,
        "price": 200,  # price in USD
        "class": "Economy",
        "duration": "5 hours",
        "amenities": ["Wi-Fi", "Snacks"]
    },
    "Flight102": {
        "origin": "San Francisco",
        "destination": "Chicago",
        "seats_available": 26,
        "price": 180,
        "class": "Economy",
        "duration": "4 hours",
        "amenities": ["Wi-Fi", "Beverages"]
    },
    "Flight103": {
        "origin": "Miami",
        "destination": "Dallas",
        "seats_available": 80,
        "price": 250,
        "class": "Business",
        "duration": "2 hours 30 minutes",
        "amenities": ["Wi-Fi", "Premium Meals"]
    },
    "Flight104": {
        "origin": "Los Angeles",
        "destination": "New York",
        "seats_available": 60,
        "price": 220,
        "class": "Economy",
        "duration": "6 hours",
        "amenities": ["Wi-Fi"]
    },
    "Flight105": {
        "origin": "Dallas",
        "destination": "Seattle",
        "seats_available": 80,
        "price": 210,
        "class": "Business",
        "duration": "3 hours",
        "amenities": ["Wi-Fi", "Premium Meals"]
    }
}

# Dictionary to track customer information (including contact details)
customers = {
    "John Doe": {"contact": "john.doe@example.com", "premium_member": False},
    "Alice Smith": {"contact": "alice.smith@example.com", "premium_member": True},  # Premium member example
    "Charlie Brown": {"contact": "charlie.brown@example.com", "premium_member": False},
    "David Johnson": {"contact": "david.johnson@example.com", "premium_member": True}
}

# Function to display flight details (including price, class, duration, amenities)
def display_flight_details(flight_id):
    if flight_id in available_flights:
        flight = available_flights[flight_id]
        print(f"Flight ID: {flight_id}")
        print(f"Origin: {flight['origin']} | Destination: {flight['destination']}")
        print(f"Seats Available: {flight['seats_available']}")
        print(f"Price: ${flight['price']}")
        print(f"Class: {flight['class']}")
        print(f"Duration: {flight['duration']}")
        print(f"Amenities: {', '.join(flight['amenities'])}")
        print()

# Function to cancel a booking
def cancel_booking(customer_name):
    if customer_name in bookings:
        flight_id = bookings[customer_name]["flight"]
        num_seats = bookings[customer_name]["seats_booked"]

        # Free up seats on the flight
        available_flights[flight_id]["seats_available"] += num_seats
        print(f"Booking canceled for {customer_name}. {num_seats} seats on {flight_id} are now available again.")

        # Remove customer booking
        del bookings[customer_name]
    else:
        print(f"Error: No booking found for {customer_name}.")

# Function to handle priority booking for premium customers
def priority_booking(flight_id, num_seats, customer_name):
    if customer_name in customers and customers[customer_name]["premium_member"]:
        # Premium members can book regardless of available seats, but we'll still track it
        print(f"Priority booking granted for {customer_name}. Booking {num_seats} seats on {flight_id}.")
        available_flights[flight_id]["seats_available"] -= num_seats
        bookings[customer_name] = {"flight": flight_id, "seats_booked": num_seats}
    else:
        print(f"Priority booking not available for {customer_name}. Booking normally.")
        book_flight_with_overbooking_management(flight_id, num_seats, customer_name)

# Function to display all customer bookings (including flight and seats)
def display_customer_bookings():
    if bookings:
        print("\nCustomer Bookings:")
        for customer_name, booking in bookings.items():
            print(f"{customer_name} - Flight {booking['flight']}, Seats booked: {booking['seats_booked']}")
    else:
        print("\nNo bookings found.")

# Main Program Flow (Continued)

# Displaying available flight details
display_flight_details("Flight101")
display_flight_details("Flight102")
display_flight_details("Flight103")
display_flight_details("Flight104")
display_flight_details("Flight105")

# Making bookings and cancellations (including priority booking for premium members)
book_flight_with_overbooking_management("Flight101", 5, "John Doe")  # Regular booking
priority_booking("Flight103", 10, "Alice Smith")  # Priority booking for premium member
book_flight_with_overbooking_management("Flight102", 50, "Charlie Brown")  # Regular booking with overbooking
book_flight_with_overbooking_management("Flight105", 10, "David Johnson")  # Regular booking
cancel_booking("Charlie Brown")  # Canceling a booking

# Displaying all bookings
display_customer_bookings()

# Displaying available flights after bookings and cancellations
display_available_flights()

Flight ID: Flight101
Origin: New York | Destination: Los Angeles
Seats Available: 50
Price: $200
Class: Economy
Duration: 5 hours
Amenities: Wi-Fi, Snacks

Flight ID: Flight102
Origin: San Francisco | Destination: Chicago
Seats Available: 26
Price: $180
Class: Economy
Duration: 4 hours
Amenities: Wi-Fi, Beverages

Flight ID: Flight103
Origin: Miami | Destination: Dallas
Seats Available: 80
Price: $250
Class: Business
Duration: 2 hours 30 minutes
Amenities: Wi-Fi, Premium Meals

Flight ID: Flight104
Origin: Los Angeles | Destination: New York
Seats Available: 60
Price: $220
Class: Economy
Duration: 6 hours
Amenities: Wi-Fi

Flight ID: Flight105
Origin: Dallas | Destination: Seattle
Seats Available: 80
Price: $210
Class: Business
Duration: 3 hours
Amenities: Wi-Fi, Premium Meals

Booking successful! John Doe has booked 5 seats on Flight101.
Priority booking granted for Alice Smith. Booking 10 seats on Flight103.
Error: Not enough seats available on Flight102. Available seats: 26.
Overbooking detected. Flight102 has been added to overbooked flights.
Booking successful! David Johnson has booked 10 seats on Flight105.
Error: No booking found for Charlie Brown.

Customer Bookings:
Alice Smith - Flight Flight103, Seats booked: 10
John Doe - Flight Flight101, Seats booked: 5
David Johnson - Flight Flight105, Seats booked: 10
Available Flights:
Flight101: New York to Los Angeles - Seats Available: 45
Flight102: San Francisco to Chicago - Seats Available: 26
Flight103: Miami to Dallas - Seats Available: 70
Flight104: Los Angeles to New York - Seats Available: 60
Flight105: Dallas to Seattle - Seats Available: 70

**Prompt 9:** Updating the passenger information to test error handling

In [74]:
# Function to update passenger information (name, contact info, premium membership status)
def update_passenger_info(customer_name, new_contact=None, new_premium_status=None):
    if customer_name in customers:
        if new_contact:
            customers[customer_name]["contact"] = new_contact
            print(f"Contact information updated for {customer_name}. New contact: {new_contact}")

        if new_premium_status is not None:
            customers[customer_name]["premium_member"] = new_premium_status
            status = "Premium" if new_premium_status else "Regular"
            print(f"Premium membership status updated for {customer_name}. New status: {status}")
    else:
        print(f"Error: No customer found with the name {customer_name}.")

# Example Usage of the Update Feature

# Update contact info for an existing customer
update_passenger_info("John Doe", new_contact="john.doe@newmail.com")

# Upgrade a regular customer to a premium member
update_passenger_info("Charlie Brown", new_premium_status=True)

# Try to update a non-existing customer (to test error handling)
update_passenger_info("Non Existing Customer", new_contact="non.existing@example.com")

# Display updated customer details
print("\nUpdated Customer Details:")
for customer_name, details in customers.items():
    print(f"{customer_name} - Contact: {details['contact']}, Premium Member: {details['premium_member']}")

Contact information updated for John Doe. New contact: john.doe@newmail.com
Premium membership status updated for Charlie Brown. New status: Premium
Error: No customer found with the name Non Existing Customer.

Updated Customer Details:
John Doe - Contact: john.doe@newmail.com, Premium Member: False
Alice Smith - Contact: alice.smith@example.com, Premium Member: True
Charlie Brown - Contact: charlie.brown@example.com, Premium Member: True
David Johnson - Contact: david.johnson@example.com, Premium Member: True

**Prompt 10:** I want to maintain about 50 flights in the system, help me get the code for it

In [75]:
import builtins  # Import builtins module to access original 'range'

# Function to always set exactly 50 flights in the system
def maintain_minimum_flights():
    global available_flights

    # Generate exactly 50 flights using dictionary comprehension
    available_flights = {
        f"Flight{str(flight_num).zfill(3)}": {
            "origin": f"City{flight_num}",
            "destination": f"City{(flight_num + 10) % 100}",
            "seats_available": 100,
            "price": 200 + (flight_num % 50),
            "class": "Economy" if flight_num % 2 == 0 else "Business",
            "duration": f"{(flight_num % 6) + 2} hours",
            "amenities": ["Wi-Fi", "Snacks"] if flight_num % 2 == 0 else ["Wi-Fi", "Premium Meals"]
        }
        for flight_num in builtins.range(1, 51)  # Always generates 50 flights (Flight001 to Flight050)
    }

# Fix: Restore Python's built-in range function if it was accidentally reassigned
try:
    del range
except NameError:
    pass  # No conflict found

# Call function to overwrite and set exactly 50 flights
maintain_minimum_flights()

# Display a sample of flights (first 10 for brevity)
for flight_id, details in list(available_flights.items())[:50]:
    print(flight_id, details)

Flight001 {'origin': 'City1', 'destination': 'City11', 'seats_available': 100, 'price': 201, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight002 {'origin': 'City2', 'destination': 'City12', 'seats_available': 100, 'price': 202, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight003 {'origin': 'City3', 'destination': 'City13', 'seats_available': 100, 'price': 203, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight004 {'origin': 'City4', 'destination': 'City14', 'seats_available': 100, 'price': 204, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight005 {'origin': 'City5', 'destination': 'City15', 'seats_available': 100, 'price': 205, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight006 {'origin': 'City6', 'destination': 'City16', 'seats_available': 100, 'price': 206, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight007 {'origin': 'City7', 'destination': 'City17', 'seats_available': 100, 'price': 207, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight008 {'origin': 'City8', 'destination': 'City18', 'seats_available': 100, 'price': 208, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight009 {'origin': 'City9', 'destination': 'City19', 'seats_available': 100, 'price': 209, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight010 {'origin': 'City10', 'destination': 'City20', 'seats_available': 100, 'price': 210, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight011 {'origin': 'City11', 'destination': 'City21', 'seats_available': 100, 'price': 211, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight012 {'origin': 'City12', 'destination': 'City22', 'seats_available': 100, 'price': 212, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight013 {'origin': 'City13', 'destination': 'City23', 'seats_available': 100, 'price': 213, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight014 {'origin': 'City14', 'destination': 'City24', 'seats_available': 100, 'price': 214, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight015 {'origin': 'City15', 'destination': 'City25', 'seats_available': 100, 'price': 215, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight016 {'origin': 'City16', 'destination': 'City26', 'seats_available': 100, 'price': 216, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight017 {'origin': 'City17', 'destination': 'City27', 'seats_available': 100, 'price': 217, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight018 {'origin': 'City18', 'destination': 'City28', 'seats_available': 100, 'price': 218, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight019 {'origin': 'City19', 'destination': 'City29', 'seats_available': 100, 'price': 219, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight020 {'origin': 'City20', 'destination': 'City30', 'seats_available': 100, 'price': 220, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight021 {'origin': 'City21', 'destination': 'City31', 'seats_available': 100, 'price': 221, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight022 {'origin': 'City22', 'destination': 'City32', 'seats_available': 100, 'price': 222, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight023 {'origin': 'City23', 'destination': 'City33', 'seats_available': 100, 'price': 223, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight024 {'origin': 'City24', 'destination': 'City34', 'seats_available': 100, 'price': 224, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight025 {'origin': 'City25', 'destination': 'City35', 'seats_available': 100, 'price': 225, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight026 {'origin': 'City26', 'destination': 'City36', 'seats_available': 100, 'price': 226, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight027 {'origin': 'City27', 'destination': 'City37', 'seats_available': 100, 'price': 227, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight028 {'origin': 'City28', 'destination': 'City38', 'seats_available': 100, 'price': 228, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight029 {'origin': 'City29', 'destination': 'City39', 'seats_available': 100, 'price': 229, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight030 {'origin': 'City30', 'destination': 'City40', 'seats_available': 100, 'price': 230, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight031 {'origin': 'City31', 'destination': 'City41', 'seats_available': 100, 'price': 231, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight032 {'origin': 'City32', 'destination': 'City42', 'seats_available': 100, 'price': 232, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight033 {'origin': 'City33', 'destination': 'City43', 'seats_available': 100, 'price': 233, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight034 {'origin': 'City34', 'destination': 'City44', 'seats_available': 100, 'price': 234, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight035 {'origin': 'City35', 'destination': 'City45', 'seats_available': 100, 'price': 235, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight036 {'origin': 'City36', 'destination': 'City46', 'seats_available': 100, 'price': 236, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight037 {'origin': 'City37', 'destination': 'City47', 'seats_available': 100, 'price': 237, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight038 {'origin': 'City38', 'destination': 'City48', 'seats_available': 100, 'price': 238, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight039 {'origin': 'City39', 'destination': 'City49', 'seats_available': 100, 'price': 239, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight040 {'origin': 'City40', 'destination': 'City50', 'seats_available': 100, 'price': 240, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight041 {'origin': 'City41', 'destination': 'City51', 'seats_available': 100, 'price': 241, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight042 {'origin': 'City42', 'destination': 'City52', 'seats_available': 100, 'price': 242, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight043 {'origin': 'City43', 'destination': 'City53', 'seats_available': 100, 'price': 243, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight044 {'origin': 'City44', 'destination': 'City54', 'seats_available': 100, 'price': 244, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight045 {'origin': 'City45', 'destination': 'City55', 'seats_available': 100, 'price': 245, 'class': 'Business', 'duration': '5 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight046 {'origin': 'City46', 'destination': 'City56', 'seats_available': 100, 'price': 246, 'class': 'Economy', 'duration': '6 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight047 {'origin': 'City47', 'destination': 'City57', 'seats_available': 100, 'price': 247, 'class': 'Business', 'duration': '7 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight048 {'origin': 'City48', 'destination': 'City58', 'seats_available': 100, 'price': 248, 'class': 'Economy', 'duration': '2 hours', 'amenities': ['Wi-Fi', 'Snacks']}
Flight049 {'origin': 'City49', 'destination': 'City59', 'seats_available': 100, 'price': 249, 'class': 'Business', 'duration': '3 hours', 'amenities': ['Wi-Fi', 'Premium Meals']}
Flight050 {'origin': 'City50', 'destination': 'City60', 'seats_available': 100, 'price': 200, 'class': 'Economy', 'duration': '4 hours', 'amenities': ['Wi-Fi', 'Snacks']}

# Mandatory Question

Provide your thoughts on the assignment. What did you find challenging, and what aspects did you enjoy? Your opinion on the provided time to complete the assignment. Share any suggestions for improvement. Your feedback will be valuable for enhancing the learning experience.

In [76]:
# Write your response below

# I find this assignmenet both interesting and challenging at the same time escpecially the questions where I need to take AI assistance.
# I watched the class materials and class demo for the refernce and I was able to complete the assignment.
# It took me around 5 days to work on this assignment.
# I really enjoyed working on Question number 4 using mathematical experession function.
# Some of the questions were difficult to process.